.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.banner_fadeBottom {
    background: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}






/* Card */


.custom-card {
    display: inline-block;
    border-radius: 20px;
}


.custom-card-back {
    background-image: linear-gradient(0deg, #3f5efb, #fc466b);
    border-radius: 20px;
    left: -5px;
    width: 108%;
    transform: skew(19deg, -9deg);
}