.navbar ul li a {
    color: white;
    margin: 0px 5px;
    border-bottom: 2px solid transparent;
}

.navbar ul li a.active {
    color: #E9EFC0;
    font-weight: 500;
    border-bottom: 2px solid #4E944F;
}

.navbar .dropdown-content a.active {
    background-color: #4E944F;
}